<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Login')"></head>
<body>
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div th:replace="layout :: flash"></div>
            <div th:replace="layout :: flashRegister"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter your credentials</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/login}" th:object="${user}" method="post" accept-charset="UTF-8" role="form">
                        <fieldset>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div class="form-group">
                                <input th:field="*{username}" class="form-control" placeholder="yourmail@example.com" type="email"/>
                            </div>
                            <div class="form-group">
                                <input th:field="*{password}" class="form-control" placeholder="Password" type="password" value=""/>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"/> Remember Me
                                </label>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login"/>
                        </fieldset>
                    </form>

                    <center><h4>Don't have an account yet.?</h4></center>
                    <div class="row">
                        <a th:href="@{/register}" class="btn btn-lg btn-primary btn-block">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="layout :: scripts"></div>
</body>
</html>